html, body {
  background: #000A18;
  min-width: 530px;
  max-width: 1280px;
  font-family: Inter;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

element {
  --dark-fill: #000A18;
}

.App {
  width: 100vw;
  text-align: center;
  min-width: 530px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: #000A18;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingSpinner {
  height: 80px;
  width: 80px;
}

.primary-gradient {
  background-image: url('./assets/primaryGradient.jpg');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.primary-gradient-wide {
  background-image: url('./assets/primaryGradientWide.svg');
  background-size: auto;
  -webkit-background-clip: text;
  color: transparent;
}

.header {
  font-size: 48px;
  font-weight: 900;
}

.maintext-gradient {
  background-image: url('./assets/greatsoftware.jpeg');
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
