
.main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (max-width: 1100px) {
  .main {
    justify-content: center;
  }
  .main__text{
    text-align: center;
  }
}

.main__text{
    margin-top: 80px;
    text-align: left;
    width: 630px;
    margin-left: 80px;
}

@media only screen and (max-width: 1100px) {
  .main__text{
    text-align: center;
  }
}

@media only screen and (max-width: 1100px) {
  .text__niceGradient{
    display: none;
  }
}


@media only screen and (max-width: 700px) {
    .main__text{
      width: 80%;
      margin-left: 0px;
    }
  }

.text__date{
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #FFFEFE;
    margin-bottom: 10px;
}

.text__likeYou{
    position: absolute;
    margin-left: 380px;
    margin-top: -50px;
}

@media only screen and (max-width: 1100px) {
  .text__likeYou{
    display: none;
  }
}

.text__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
    margin-bottom: 30px;
}


.text__subTitle{
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    width: 600px;
    /* or 156% */

    color: #FFFFFF;
    margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    .text__subTitle{
      width: 90%;
    }
  }

.text__action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.action__social {
  height: 35px;
  width: 91px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1100px) {
  .main__text {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text__subTitle {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .text__action{
    width: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 109px;
    justify-content: center;
    margin-right: 0px;
  }

  .action__social {
    display: none;
  }
}


@media only screen and (max-width: 700px) {
    .text__action{
      width: 90%;
    }
  }


  .action__dev {
    margin-bottom: 0px;
    filter: brightness(50%);
    transition: all .2s ease-in-out;
  }

  .action__disc {
    filter: brightness(50%);
    transition: all .2s ease-in-out;
  }

  .action__dev:hover {
    filter: brightness(100%);
    cursor: pointer;
    transform: scale(1.1);
  }

  .action__disc:hover {
    filter: brightness(100%);
    cursor: pointer;
    transform: scale(1.1);
  }

  .action__buttons {
    width: 494px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

.action__register{
    width: 161px;
    height: 55px;
    background: #FFFEFE;
    border-radius: 7px;
    background: url(./assets/registerBack.svg);
    
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    border: none;

    color: #000A18;
    transition: all .2s ease-in-out;
}

.action__register:hover{
  cursor: pointer;
  transform: scale(1.05);
}



/* @media only screen and (max-width: 600px) {
    .action__register{
        width: 100px;
        font-size: 14px;
        height: 40px;
    }
  } */

.action__sponsor{
    width: 183px;
    height: 55px;
    background: #FFFEFE;
    border-radius: 7px;
    background: url(./assets/sponsorBack.png);
    
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    border: none;


    color: #000A18;
    margin-left: -5px;
    transition: all .2s ease-in-out;
}

.action__sponsor:hover {
  transform: scale(1.05);
}

.main__terminal {
  text-align: left;
  border-radius: 15px;
  width: 385px;
  height: 318px;
  margin-top: 100px;
  margin-right: 80px;
  overflow: scroll;
  overflow-y: hidden !important;
  background-image: url('./assets/terminalBack.svg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminalContainer {
  border-radius: 15px;
  padding-left: 30px !important;
  padding-top: 30px !important;
  overflow: scroll;
  padding-bottom: 15px !important;
  overflow-y: hidden !important;
  font-weight: 800 !important;
  line-height: normal !important;
}

.terminalInput {
  font-weight: 800 !important;
}
.terminalOutput {
  font-weight: 800 !important;
}

span {
  margin-right: 10px !important;
}


@media only screen and (max-width: 1100px) {
    .main__terminal{
      display: none;
    }

    .action__dev {
      display: none;
    }

    .action__disc{
      display: none;
    }

    .action__buttons {
      width: 367px;
    }
  }


.terminal__tryOut{
    width: 150px;
    margin-left: 0px;
}