button:hover {
    cursor: pointer;
}

.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.barLeft{
    margin-left: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 572px;
}

.item:hover {
    filter: brightness(90%);
}

@media only screen and (max-width: 650px) {
    .item {
        display: none;
    }
    .navBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .barLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin-left: 0 !important;
    }
}

  
.item{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFEFE;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.barRight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 44px;
    width: 178px;
}

@media only screen and (max-width: 900px) {
    .barRight{
        display: none;
    }
}

.icon {
    filter: brightness(50%);
}

.icon:hover {
    filter: brightness(100%);
}

/* .facebook:hover {
    
}

.ig:hover {
    content: url('./assets/instagramWhite.svg');
}

.twitter:hover {
    content: url('./assets/twitterWhite.svg');
}

.linkedin:hover {
    content: url('./assets/linkedinWhite.svg');
} */