.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.minLogo{
    display: none;
}

.barLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
}

@media only screen and (max-width: 550px) {
    .barLeft{
        display: none;
    }

    .minLogo{
        margin-top: 35px;
        margin-left: 45%;
        display: flex;
        justify-content: center;
    }
}



.logo{
    margin-left: 13%;
}
  
.item{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFEFE;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    margin-left: 20%;
}

.barRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4%;
}

@media only screen and (max-width: 780px) {
    .barRight{
        display: none;
    }
}



.icon{
    margin-left: 30%;
}

.iconRight{
    margin-right: 30%;
}