@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);
@font-face {
  font-family: "SF Pro Display";
  src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot");
  src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.svg#SF Pro Display")
      format("svg");
}

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
}

.navbar__section {
  width: 100%;
  text-align: left;
}

.navbar {
  margin-top: 42px;
  width: 740px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 42px;
}

.navbar__left {
  margin-top: 42px;
  margin-left: 65px;
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 47px;
  height: 48px;
  margin-right: 70px;
}

.navbar__logo:hover {
  cursor: pointer;
}

.navbar__item {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 16px;
  font-family: "Rock Salt";

  font-weight: 500;
  color: #ffffff;
}

.navbar__item:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

@media only screen and (max-width: 790px) {
  .navbar__item {
    display: none !important;
  }

  .navbar {
    width: 100% !important;
    margin-left: auto !important;
    align-self: center;
    justify-content: center;
  }

  .navbar__section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar__logo {
    margin-right: 0px !important;
  }
}

.navbar__right {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.btn__reg {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 1.4rem;
  font-family: "Rock Salt";

  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.btn__reg span {
  font-size: 2.2rem;
  margin: 4px;
  font-weight: 100;
}

.btn__us {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.4rem;
  font-family: "Rock Salt", cursive;

  font-weight: 500;
  color: #ffff;
  border: none;
  background-color: transparent;
}

.btn__us span {
  font-size: 2.2rem;
  margin: 4px;
  font-weight: 100;
}

.landingcontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingcontent-main {
  margin-top: 70px;
}

.landingcontent__text {
  width: 100%;
  height: 72vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.landingcontent__img {
  width: 70vw;
}

.landingcontent__sub {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  width: 55%;
  margin: auto;
  margin-top: 50px;
}

.landingcontent__buttons {
  margin-top: 52px;
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .sponsor-btn {
    display: none;
  }

  .landingcontent__buttons {
    width: 480px;
  }

  .sponsor-btn--lower {
    display: block !important;
  }
}

.discord-btn {
  width: 237px;
  height: 68px;
}

.sponsor-btn {
  width: 267px;
  height: 68px;
}

.discord-btn:hover {
  cursor: pointer;
}

.register-btn:hover {
  cursor: pointer;
}

.emailus-btn:hover {
  cursor: pointer;
}

.sponsorpkg-btn:hover {
  cursor: pointer;
}

.sponsor-btn:hover {
  cursor: pointer;
}

.sponsor-btn--lower {
  display: none;
}

.landingreg__btn {
  margin-top: 40px;
  font-size: 2.1vw;
  font-family: "Rock Salt", cursive;

  font-weight: 500;
  background: transparent;
  color: #ffffff;
  border: none;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 80px;
}
.landingreg__btn:hover {
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.landingreg__btn span {
  font-size: 2.8vw;
  font-weight: 100;
  margin: 4px;
}

/* .landingdisc__btn {
  margin-top: 40px;
  font-size: 2.4rem;
  font-family: "Rock Salt", cursive;

  font-weight: 500;
  background: transparent;
  color: #ffffff;
  border: none;
  margin-right: 40px;
} */

.landingdisc__btn span {
  font-size: 2.8vw;
  font-weight: 100;
  margin: 4px;
}

/* .landingus__btn {
  margin-top: 40px;
  font-size: 2.4rem;
  font-family: "Rock Salt", cursive;

  font-weight: 500;
  background: transparent;
  color: #ffffff;
  border: none;

  margin-left: 40px;
} */

.landingus__btn span {
  font-size: 2.8vw;
  font-weight: 100;
  margin: 4px;
}

.landingmission {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 274px;
}

.landingmission__top {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 760px;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 760px) {
  .landingmission__top {
    align-self: center;
    width: 340px;
  }
}

@media only screen and (max-width: 1010px) {
  .landingmission__text {
    margin-top: 60px !important;
    width: 80% !important;
  }
}

.landingmission__header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
}

.landingmission__side {
  width: 204px;
}

.landingmission__text {
  font-family: Inter;

  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  .landingmission__last1 {
    display: none;
  }

  .landingmission__last2 {
    display: none;
  }

  .landingmission__side {
    display: none;
  }
}

.landingmission__last1 {
  margin-right: 140px;
  margin-left: -10px;
  margin-top: 20px;
  width: 295px;
}

.landingmission__last2 {
  margin-left: 60px;
  margin-top: 20px;
  width: 162px;
}

.landingtrack {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 275px;
}

.landingtrack__header {
  font-family: Inter;

  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 10px;
}

.landingtrack__sub {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  color: white;
}

.landingtrack__tracks {
  width: 90%;
  margin-top: 100px;
}

.track {
  margin-top: 20px;
  width: 20%;
  margin: auto;
}

.track__header {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
}

.track__details {
  font-family: "Rock Salt", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  width: 80%;
  margin-bottom: 55px;
  margin-top: 20px;
}

.landingfaq__section {
  position: relative;
  margin-top: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingfaq {
  width: 998px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.landingfaq__header {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
}

.landingfaq__questions--left {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 434px;
}

.landingfaq__questions--right {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 437px;
  margin-top: 25px;
}

@media only screen and (max-width: 1010px) {
  .landingfaq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
  }

  .question {
    text-align: center !important;
  }

  .question--more {
    text-align: center !important;
  }
}

.question-left {
  text-align: left;
  margin-right: 90px;
}

.question {
  padding-top: 78px;
  text-align: left;
  margin: 0;
}

.question--more {
  padding-top: 103px;
  text-align: left;
  margin: 0;
}

.question__header {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
}

.question__header2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 25px;
}

.question__details {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 15px;
}

.landingsponsors {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 170px;
}

.landingsponsors__header {
  font-family: Inter;

  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 28px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 30px;
}

.landingsponsors__sub {
  font-family: "Rock Salt", cursive;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.footer__text {
  margin-left: 39px;
  font-family: Inter;
  width: 205px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.footer__text2 {
  font-family: "Rock Salt", cursive;

  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  letter-spacing: 2px;
}

.footer {
  width: 100%;
  background: #1555d1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  margin-top: 150px;
  align-items: center;
}

@media only screen and (max-width: 760px) {
  .footer__text2 {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .footer__text2 {
    display: none;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__text {
    display: none;
  }

  .footer__social {
    margin-right: 0px !important;
  }
}

.footer__social {
  margin-right: 52px;
  display: flex;
  flex-direction: row;
  width: 186px;
  align-items: center;
  justify-content: space-between;
}

.landinginterest {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 274px;
}

.landinginterest__top {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 760px;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 760px) {
  .landinginterest__top {
    align-self: center;
    width: 340px;
  }
}

@media only screen and (max-width: 1010px) {
  .landinginterest__text {
    margin-top: 60px !important;
    width: 80% !important;
  }
}

.landinginterest__header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
}

.landinginterest__text {
  font-family: Inter;

  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  width: 960px;
  margin: 0 auto;
  margin-top: 45px;
}

.emailus-btn {
  margin-top: 30px;
  margin-right: 10px;
}

.sponsorpkg-btn {
  margin-top: 30px;
  margin-left: 10px;
}
