@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);
@font-face {
  font-family: "SF Pro Display";
  src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot");
  src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.svg#SF Pro Display")
      format("svg");
}

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 16vh;
  display: flex;
  justify-content: left;
}

.navbar__left {
  margin-left: 65px;
  display: flex;
  align-items: center;
}

.navbar__logo {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  width: 4vw;
  height: 4vw;
  cursor: pointer

}

.navbar__item {
  margin-top: 25px;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 1.2vw;
  font-family: "Rock Salt";

  font-weight: 500;
  color: #ffffff;
}

.navbar__item:hover{
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.navbar__right {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.btn__reg {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 1.4rem;
  font-family: "Rock Salt";

  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.btn__reg span {
  font-size: 2.2rem;
  margin: 4px;
  font-weight: 100;
}

.btn__us {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.4rem;
  font-family: "Rock Salt", cursive;

  font-weight: 500;
  color: #ffff;
  border: none;
  background-color: transparent;
}

.btn__us span {
  font-size: 2.2rem;
  margin: 4px;
  font-weight: 100;
}

.landingcontent {
  width: 100%;
  height: 72vh;
  align-items: center;
  text-align: center;
  padding-top: 12vh;
}

.landingcontent__img {
  width: 70vw;
}

.landingcontent__sub {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 2vw;
  line-height: 30px;
  color: #ffffff;
  width: 55%;
  margin: auto;
  margin-top: 50px;
}

.landingcontent__button{
  display: flex;
  justify-content: center;
}


.landingreg__btn {
  margin-top: 40px;
  font-size: 2.1vw;
  font-family: "Rock Salt", cursive;

  font-weight: 500;
  background: transparent;
  color: #ffffff;
  border: none;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 80px;
}
.landingreg__btn:hover{
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.landingreg__btn span {
  font-size: 2.8rem;
  font-weight: 100;
  margin: 4px;
}

/* .landingdisc__btn {
  margin-top: 40px;
  font-size: 2.4rem;
  font-family: "Rock Salt", cursive;

  font-weight: 500;
  background: transparent;
  color: #ffffff;
  border: none;
  margin-right: 40px;
} */

.landingdisc__btn span {
  font-size: 2.8rem;
  font-weight: 100;
  margin: 4px;
}

/* .landingus__btn {
  margin-top: 40px;
  font-size: 2.4rem;
  font-family: "Rock Salt", cursive;

  font-weight: 500;
  background: transparent;
  color: #ffffff;
  border: none;

  margin-left: 40px;
} */

.landingus__btn span {
  font-size: 2.8rem;
  font-weight: 100;
  margin: 4px;
}

.landingmission {
  width: 100%;
  height: 70vh;
  align-items: center;
  text-align: center;
  padding-top: 30vh;
}

.landingmission__top {
  text-align: center;
  display: flex;
  margin-left: 24%;
  margin-right: 24%;
}

.landingmission__header {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-top: -15px;
}

.landingmission__side{
  width: 15vw;
}

.landingmission__text {
  font-family: "SF Pro Display";

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  width: 65%;
  margin: auto;
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  .landingmission__text {
    font-size: 15px;
  }
}


.landingmission__last1 {
  margin-right: 140px;
  margin-left: -10px;
  margin-top: 20px;
  width: 25vw;
}

.landingmission__last2 {
  margin-left: 60px;
  margin-top: 20px;
  width: 15vw;
}

.landingtrack {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 20vh;
}

.landingtrack__header {
  font-family: "SF Pro Display";

  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 10px;
}

.landingtrack__sub {
  font-family: "SF Pro Display";

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.landingtrack__tracks {
  width: 90%;
  margin-top: 100px;
}

.track {
  width: 20%;
  margin: auto;
}

.track__header {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
}

.track__details {
  font-family: "Rock Salt", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  width: 80%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.landingfaq__section{
  position: relative;
}

.landingfaq {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 20vh;
}

.landingfaq__header {
  font-family: "SF Pro Display";

  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 30px;
}

.landingfaq__questions {
  display: flex;
  margin: auto;
  width: 80%;
  margin-top: 100px;
}

.question {
  width: 32%;
  text-align: left;
  margin: auto;
}

.question__header {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
}

.question__details {
  font-family: "Rock Salt", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 15px;
}

.landingsponsors {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 20vh;
}

.landingsponsors__header {
  font-family: "SF Pro Display";

  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 28px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 30px;
}

.landingsponsors__sub {
  font-family: "Rock Salt", cursive;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.footer__text {
  font-family: "Rock Salt", cursive;

  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw;
  line-height: 26px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.footer {
  width: 100%;
  background: #1555d1;
  display: flex;
  justify-content: center;
}


.footer__logo {
  margin-top: 18px;
}
