.track-section {
    margin-top: 400px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-desc {
    margin-top: 28px;
    max-width: 999px;
    width: 78%;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.track-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 332px 332px 332px;
    grid-template-rows: 309px 309px 309px;
    row-gap: 55px;
    column-gap: 55px;
}